<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Link to your external CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Fitraka/app/static/css/style.css') }}">
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <ul>
        {% for route in routes %}
            <li><a href="{{ route.url }}">{{ route.name }}</a></li>
        {% endfor %}
    </ul>
    <!-- Add a Logout link -->
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>



