<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    <!-- Add CSS styles for flashed messages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Fitraka/app/static/css/style.css') }}">
</head>
<body>
    <!-- Display flashed messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
        <div class="flash-message {% if 'success' in message %} flash-success {% endif %} {% if 'error' in message %} flash-error {% endif %}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h1>Logout Page</h1>
    <!-- Your logout content here -->

    <a href="/auth/login">Login Again</a>
</body>
</html>

