<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitraka - Fitness Goal Suggestion</title>
    <!-- Link to your external CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Fitraka/app/static/css/style.css') }}">
</head>
<body>
    <h1>Fitness Goal Suggestion</h1>
    <p>Your fitness goal:</p>
    <p><strong>{{ suggestion }}</strong></p>
    <a href="/set_goal_route">Set Another Goal</a>
</body>
</html>
 
